{% extends "baseadmin.html.twig" %}
{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-left align-top" scope="col">
                    Titre
                    <a href="{{ path('admin.formations.sort', {champ:'title', ordre:'DESC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('admin.formations.sort', {champ:'title', ordre:'ASC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">></a>
                    <form class="form-inline mt-1" method="POST" action="{{ path('admin.formations.findallcontain', {champ:'title', isStrict: 'false'}) }}">
                        <div class="form-group mr-1 mb-2">
                            <input type="text" class="sm" name="recherche">
                        </div>
                        <input type="hidden" name="_token" value="{{ csrf_token('filtre_title') }}">
                        <button type="submit" class="btn btn-info mb-2 btn-sm">Rechercher</button>
                    </form>
                </th>               
                <th class="text-center align-top" scope="col">
                    Niveau
                    <form class="form-inline mt-1" method="POST" action="{{ path('admin.formations.findallcontain', {champ:'niveau', isStrict: 'true'}) }}">
                      <select class="form-control" name="recherche">
                        {% for oneNiveau in niveaux %}
                            <option value="{{oneNiveau.id}}" {% if oneNiveau.id == niveau_choose %} selected="selected"{% endif %}>{{oneNiveau.difficulte}}</option>
                        {% endfor %}
                      </select>
                        <input type="hidden" name="_token" value="{{ csrf_token('filtre_niveau') }}">
                        <button type="submit" class="btn btn-info mb-2 btn-sm">Rechercher</button>
                    </form>
                
                </th>
                <th class="text-center align-top" scope="col">
                    Date
                    <div>
                        <a href="{{ path('admin.formations.sort', {champ:'publishedAt', ordre:'DESC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true"><</a>
                        <a href="{{ path('admin.formations.sort', {champ:'publishedAt', ordre:'ASC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">></a>
                    </div>   
                </th>
                <th class="text-center align-top" scope="col">
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody>
            {% for formation in formations %}
                <tr>
                    <td>
                        <h5 class="text-info">
                            {{ formation.title }}
                        </h5>
                    </td>
                    <td class="text-center">
                        {{ formation.niveau.difficulte }}
                    </td>
                    <td class="text-center">
                        {{ formation.publishedatstring }}
                    </td>
                    <td class="text-center">
                        <a href="{{ path('admin.formation.edit', {id:formation.id}) }}" class="btn btn-secondary">Éditer</a>
                        <a href="{{ path('admin.formation.suppr', {id:formation.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer {{ formation.title }} ?')">Supprimer</a>
                    </td>                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
